<nav>
    <div class="site-title">
      <a href="/"><h1>Large File Processor</h1></a>
      <p>A file processor to import large data from a csv file to a database.</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/api/products/import">ImportCSV</a></li>
      <li><a href="/api/products/fetchdata">Products</a></li>
      <li><a href="/api/products/aggregate">Aggregate</a></li>
    </ul>
  </nav>