<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="products content">
      <h2>All Aggregated Products</h2>
      <% if (products.length > 0) { %>
        <% products.forEach(product => { %>
          <p class="productName">Product name: <%= product._id %></p>
          <p class="total">Total: <%= product.total %></p>
        <% }) %>
      <% } else { %>
        <p>There are no products to display...</p>
      <% } %>
    </div>
  </body>
</html>