<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="home content">
      <h2>Welcome to Large File Proessor</h2>
      <p>This project is built to serve following features:</p>
      <ul>
        <li><p>Import a CSV file of products to a mongoDB database</p></li>
        <li><p>Update the product details</p></li>
        <li><p>Aggregate the product to show no. of product with same name</p></li>
      </ul>
    </div>
  </body>
</html>