<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="import content">
        <h3 class="message"><%= message %></h3>
    </div>
  </body>
</html>