<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="update-product content">
    <form method="PUT" action="api/products/<%= sku %>/update">
      <label for="name">Product name:</label>
      <input type="text" id="name" name="name" required>
      <label for="sku">Product sku:</label>
      <input type="text" id="sku" name="sku" required>
      <label for="description">Product description:</label>
      <input id="description" name="description" required>
      <button>Submit</button>
    </form>
  </div>
</body>
</html>